@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
    border-radius: 0.71rem;
  }
  body {
    @apply bg-background text-textPrimary antialiased selection:bg-primary selection:text-black;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
